/* Navigation block listing page */
.region-title__action {
  display: inline-block;
  margin-left: 1em; /* LTR */
}
[dir="rtl"] .region-title__action {
  margin-right: 1em;
  margin-left: 0;
}

/* Configure navigation block form - navigation block description */
.navigation-block-form .form-item-settings-admin-label label {
  display: inline;
}
.navigation-block-form .form-item-settings-admin-label label::after {
  content: ":";
}
.navigation-block-disabled:not(:hover) {
  opacity: 0.675;
  background: #fcfcfa;
}

.navigation-block--animated {
  transition: opacity 600ms;
}
.navigation-block--hide {
  opacity: 0;
}
.navigation-block--show {
  opacity: 1;
}
