@import "../base/media-queries.pcss.css";

:root {
  --admin-toolbar-top-bar-height: calc(4 * var(--admin-toolbar-rem));
}

.top-bar {
  position: relative;
  z-index: var(--admin-toolbar-z-index-top-bar);
  display: flex;
  padding: var(--admin-toolbar-space-4);
  background-color: white;
  box-shadow: 0 0 8px 0 var(--admin-toolbar-color-shadow-15);
  font-family: var(--admin-toolbar-font-family);

  @media (--admin-toolbar-desktop) {
    block-size: var(--admin-toolbar-top-bar-height);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100vw;
    padding-block: var(--admin-toolbar-space-12);
    padding-inline: calc(var(--drupal-displace-offset-left, var(--admin-toolbar-sidebar-width)) + var(--admin-toolbar-space-32)) var(--admin-toolbar-space-32);
    box-shadow: 0 0 40px 0 var(--admin-toolbar-color-shadow-6), 0 4px 4px 0 var(--admin-toolbar-color-shadow-8);

    [dir="rtl"] & {
      padding-inline: calc(var(--drupal-displace-offset-right, var(--admin-toolbar-sidebar-width)) + var(--admin-toolbar-space-32)) var(--admin-toolbar-space-32);
    }
  }
}

/* When only one burger button hide top bar on desktop. */
.top-bar:has(.top-bar__burger:only-child) {
  @media (--admin-toolbar-desktop) {
    display: none;
  }
}

.top-bar:not(:has(.top-bar__burger:only-child)) ~ .dialog-off-canvas-main-canvas {
  @media (--admin-toolbar-desktop) {
    margin-block-start: var(--admin-toolbar-top-bar-height);
  }
}

.top-bar__burger {
  align-self: start;
  @media (--admin-toolbar-desktop) {
    display: none;
  }
}

.top-bar__content {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--admin-toolbar-space-16);
  width: 100%;
}

.top-bar__controls {
  display: none;

  @media (--admin-toolbar-desktop) {
    display: flex;
    gap: var(--admin-toolbar-space-8);
  }
}
