{% set attributes = create_attribute() %}

<div {{ attributes.addClass('admin-toolbar-control-bar').setAttribute('data-drupal-admin-styles', '').setAttribute('data-offset-top', '') }}>
  <div class="admin-toolbar-control-bar__content">
    {% include '@navigation/toolbar-button.html.twig' with {
      attributes: create_attribute({'aria-expanded': 'false', 'aria-controls': 'admin-toolbar'}),
      icon: 'burger',
      text: 'Expand sidebar'|t,
      extra_classes: 'admin-toolbar-control-bar__burger',
    } only %}
  </div>
</div>

<aside
  class="admin-toolbar" id="admin-toolbar" data-drupal-admin-styles>
  {# This lil' div will get the Drupal.displace() attributes added to it via JS. #}
  <div class="admin-toolbar__displace-placeholder"></div>

  <div class="admin-toolbar__scroll-wrapper">
    {% set title_menu = 'admin-toolbar-title'|clean_unique_id %}

    {# @todo - We should get rid of this ID below. #}
    <nav id="menu-builder" class="admin-toolbar__content" aria-labelledby="{{ title_menu }}">
      <h3 id="{{ title_menu }}" class="visually-hidden">{{ 'Administrative toolbar content'|t }}</h3>
      {# @todo - Needs to be placed here so we can have the header footer on mobile. #}
      <div class="admin-toolbar__header">
        {% if not hide_logo %}
          <a class="admin-toolbar__logo" href="{{ path('<front>') }}">
            {% if logo_path %}
              <img alt="{{ 'Navigation logo'|t }}" src="{{ file_url(logo_path) }}" loading="eager" width="{{ logo_width|default(40) }}" height="{{ logo_height|default(40) }}">
            {% else %}
              {% include '@navigation/logo.svg.twig' with {
                label: 'Navigation logo'|t
              } only %}
            {% endif %}
          </a>
        {% endif %}
        {% include '@navigation/toolbar-button.html.twig' with {
          attributes: create_attribute({ 'data-toolbar-back-control': true, 'tabindex': '-1' }),
          extra_classes: 'admin-toolbar__back-button',
          icon: 'back',
          text: 'Back'|t,
        } only %}
        {% include '@navigation/toolbar-button.html.twig' with {
          attributes: create_attribute({ 'aria-controls': 'admin-toolbar', 'tabindex': '-1' }),
          extra_classes: 'admin-toolbar__close-button',
          icon: 'cross',
          label_classes: 'visually-hidden',
          text: 'Collapse sidebar'|t,
        } only %}
      </div>

      {{ menu_content }}
    </nav>

    {% set title_menu_footer = 'admin-toolbar-footer'|clean_unique_id %}
    <nav id="menu-footer" class="admin-toolbar__footer" aria-labelledby="{{ title_menu_footer }}">
      <h3 id="{{ title_menu_footer }}" class="visually-hidden">{{ 'Administrative toolbar footer'|t }}</h3>
      {{ menu_footer }}
      <button aria-controls="admin-toolbar" class="admin-toolbar__expand-button">
        <span class="visually-hidden" data-text>{{ 'Collapse sidebar'|t }}</span>
      </button>
    </nav>
  </div>
</aside>
<div class="admin-toolbar-overlay" aria-controls="admin-toolbar"></div>
<script>
  if (localStorage.getItem('Drupal.navigation.sidebarExpanded') !== 'false' && (window.matchMedia('(min-width: 1024px)').matches)) {
    document.documentElement.setAttribute('data-admin-toolbar', 'expanded');
  }
</script>
